{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'stu_table/css/style.css' %}">
{% endblock %}
{% block content %}
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
      
        <a href="javascript:;" class="first_page">首页</a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so search-form">
          <div class="layui-input-inline">

              {% if role != "班长" %}
              <select name="choice_college" lay-filter="choice-college">
                  <option value="">请选择学院</option>
                  {% for college in colleges %}
                    <option value="{{ college.pk }}">{{ college }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="choice_class" class="choice-class" lay-filter="choice-class">
                  <option value="">请选择班级</option>
                  <!-- {% for college in colleges %}
                    <option value="{{ college.pk }}">{{ college }}</option>
                  {% endfor %} -->
                </select>
            {% endif %}
          </div>
          <div class="search-div">
            <input type="text" name="stu_name"  placeholder="请输入学生学号或姓名" autocomplete="off" class="layui-input search_input">
            <button class="layui-btn search" ><i class="layui-icon">&#xe615;</i></button>
          </div>
        </form>
      </div>
      <div class="about_data_list">
      </div>
    </div>
  </body>
  {% endblock %}
  {% block script %}
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      //  加载学生列表
      $(document).ready(function(){
        $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}");
      });
      // 点击分页 局部刷新
      function show_list(argument){
        $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}?page="+argument);
      }
       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){
                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');
                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                 url:  "{% url 'myUtils:delete_stu_data' %}",
                 type: 'POST',
                 data: {'data': id},
                 cache: false,
                 success: function(data){
                  layer.msg('删除成功', {icon: 1});
                   //发异步删除数据
                  var count =  $('.count').text()
                  $('.count').text(count-1)
                  $(obj).parents("tr").remove();
                  layer.msg('已删除!',{icon:1,time:1000});
                 },
                 error: function(xhr){
                  layer.msg('删除失败', {icon: 5});
                 },

              });
             
          });
      }
      // function x_admin_show(argument){
      //   alert('hello');
      // }
      // 删除
      function delAll (argument) {

        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
          $.ajax({
          url: "{% url 'myUtils:delete_stu_data' %}",
          type: "POST",
          data: {"data": JSON.stringify(data)},
          cache: false,
          success: function(data){
            // var a = $('.num').text();
            // $('.num').text(a - data['count']);
            layer.msg('删除成功', {icon: 1});
            var count =  $('.count').text()
            $('.count').text(count-data['count'])
            $(".layui-form-checked").not('.header').parents('tr').remove();
          },
          error: function(xhr){
            layer.msg('删除失败', {icon: 5});
          }
        });
        });
      }
      // 查询
      $('.search').click(function(){
        //  ajax 提交数据
                var value = $('.search_input').val()
                $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}?stu="+value);
        return false;
      })
      // 二级联动选择\学院 刷新班级
      layui.use('form', function(){
        var form = layui.form; 
        form.render('select');
        form.on('select(choice-college)', function(data){
            var new_value = data.value;
            if (new_value != ""){
                // ajax提交请求
                $.ajax({
                    url: "{% url 'myUtils:getClass' %}",
                    type: "POST",
                    cache: false,
                    data: {'pk': new_value},
                    success: function(data){
                        var optionstring = "";
                        var meta = JSON.parse(data);
                        $.each(meta, function(i, item){
                            optionstring += '<option value="'+item.pk+'">'+item.fields.class_name+'</option>';
                        });
                        $(".choice-class").html('<option value="" selected></option>' + optionstring);
                        form.render('select');
                        var value = $('.search-form').serialize()
                        $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}", value);
                    },
                });   
            }
        });
      });
    // 选择班级刷新页面
    layui.use('form', function(){
        var form = layui.form; 
        form.on('select(choice-class)', function(data){
              var value = $('.search-form').serialize()
              $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}", value);
            });
    });
    // 返回列表首页
    $('.first_page').click(function(){
      $('.about_data_list').load("{% url 'stu_table:stu_data_list' %}");
    });
      
    </script>
 {% endblock %}