{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎
            <span class="x-red">{{ request.user }}</span>&nbsp;&nbsp; 身份: &nbsp;<span class="x-red">{{ request.user.user_role }}</span>&nbsp;&nbsp; 上次登录时间: {{ user.last_login }}</blockquote>
        <div class="notification" style="width:300px; float: right; margin-top:5%;">
            {% for data in notification %}
            <div class="layui-card">
                <div class="layui-card-header" style="background: gray;">
                    <a href="{% url 'myUtils:shownotification' %}?id={{ data.pk }}">{{ data }}&nbsp;&nbsp;  发布时间:&nbsp; {{ data.update_time }}</a>    
                </div>
                <div class="layui-card-body">
                        {{ data.content | truncatechars:10 }}......  
                </div>
              </div>  
                {% endfor %}  
        </div>
            
    </div>
    </body>
</html>