{% load static %}
<xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe62f;</i>确认导入</button>
    <span class="x-right" style="line-height:40px">未导入的异常数据：<span class='num'>{{ data_list | length }}</span>  条</span>
  </xblock>
  <span style="display: none" id="eng_list">{{ eng_list }}</span>
  <table class="layui-table">
    <thead>
      <tr>
        <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
        </th>
        {% for field_name in title %}
          <th>{{ field_name }}</th>
        {% endfor %} 
    </thead>
    <tbody>
        {% for item in data_list %}
      <tr>
        <td>
          <div class="layui-unselect layui-form-checkbox" id="yes" lay-skin="primary" data-id="{{ item }}"><i class="layui-icon">&#xe605;</i></div>
        </td>
            {% for j in item %}
              <td>{{ j }}</td>
            {% endfor %}
      </tr>
        {% endfor %}
    </tbody>
  </table>
<script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>

  
