{% extends 'base.html' %}
{% load static %}

    <!-- 顶部开始 -->
    {% block title%} 主页 {% endblock %}
    {% block content %}
    <body>
        <div class="container">
            <div class="logo"><a href="{% url 'index' %}"><img style="height: 30px; width: 30px;" class="logo" src="{% static 'images/logo.png' %}" alt=""> {{ request.user.name }}</a></div>
            <div class="left_open">
                <i title="展开左侧栏" class="iconfont">&#xe699;</i>
            </div>
            <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">admin</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onClick="x_admin_show('个人信息','/user/personaldetails',600,400)">个人信息</a></dd>
                <dd><a onClick="x_admin_show('个人信息','/user/changepassword?pk={{ request.user.pk }}',600,400)">修改密码</a></dd>
                <dd><a href="{% url 'logout' %}"">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index"><a href="{% url 'index' %}">前台首页</a></li>
            </ul>
            
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6eb;</i>
                        <cite>主页</cite>
                        <i class="iconfont nav_right">&#xe6a7;</i>
                    </a>
                    <ul class="sub-menu">
                        <li><a _href="{% url 'welcome' %}"><i class="iconfont">&#xe6a7;</i><cite>控制台</cite></a></li >
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="iconfont">&#xe6f6;</i><cite>数据管理</cite><i class="iconfont nav_right">&#xe6a7;</i></a>
                    <ul class="sub-menu">
                        <li><a _href="{% url 'stu_table:merge' %}"><i class="iconfont">&#xe6a7;</i><cite>导入表格</cite></a></li>
                        <li><a _href="{% url 'stu_table:edit' %}"><i class="iconfont">&#xe6a7;</i><cite>信息编辑</cite></a></li>
                            <!-- 信息编辑页面 -->
                    </ul>
                </li>
                <li >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b4;</i>
                        <cite>工具</cite>
                        <i class="iconfont nav_right">&#xe6a7;</i>
                    </a>
                    <ul class="sub-menu">
                        <!-- <li><a _href="{% url 'myUtils:combined' %}"><i class="iconfont">&#xe6a7;</i><cite>合并表格</cite></a></li> -->
                        <li><a _href="{% url 'myUtils:createtable' %}"><i class="iconfont">&#xe6a7;</i><cite>生成表格</cite></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe726;</i>
                        <cite>管理员管理</cite>
                        <i class="iconfont nav_right">&#xe6a7;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="{% url 'user:userlist' %}">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户列表</cite>
                            </a>
                        </li >
                        <li>
                            <a _href="{% url 'rolemanagement' %}">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>角色管理</cite>
                            </a>
                        </li >
                        <!-- <li>
                            <a _href="{% url 'permiclassify' %}">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>权限分类</cite>
                            </a>
                        </li > -->
                        <li>
                            <a _href="{% url 'permiManagement' %}">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>权限管理</cite>
                            </a>
                        </li >
                    </ul>
                </li>            
        </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="{% url 'welcome' %}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        <!-- 底部开始 -->
        <!--<div class="footer">
            <div class="copyright">Copyright ©2019 L-admin v2.3 All Rights Reserved</div>  
        </div>-->
        <!-- 底部结束 -->
    </body>
{% endblock %}